<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.runningart.gpxreceiver">
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="36" />
  <application android:label="GPX QA Receiver" android:debuggable="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".ReceiverActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/gpx+xml" />
      </intent-filter>
    </activity>
  </application>
</manifest>
